name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: configure
      run: ./configure
    - name: make
      run:  gcc mstest2.c -o mstest2 `pkg-config mediastreamer --libs --cflags`
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
