name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies on ubuntu
      run: |
          sudo apt-get update
          sudo apt-get install ortp
          sudo apt-get install libmediastreamer-dev
    - name: make
      run:  gcc mstest2.c -o mstest2 `pkg-config mediastreamer --libs --cflags`
    - name: make check
      run: ./mstest2
    
